<app-users-form (addUser)="optimisticAdd($event)" (addUserPs)= "pasemisticAdd()"></app-users-form>
<app-users-navigation></app-users-navigation>
<h2>List of Users</h2>

<ul class="list-group">
	<li class="list-group-item" *ngFor = "let key of usersKeys" >
	  <button type="button" class="btn btn-primary" (click)="deleteUser(key)">Delete</button>
	  <button (click) = "showUpdate(key)" class="btn btn-warning">Update</button> 
	  {{'Name:' + '  ' + users[key].name + ', phone:' + users[key].phone}}	  
	  <div *ngIf = "updates[key]">
	      <form [formGroup] = "usersformupdate" (ngSubmit) = "updateUser(key)">
	        <div>
	          <label for="name"></label>
	          <input type="text" name = "name" id = "name" formControlName = "name" class = "form-control" >
	          <div *ngIf = "usersformupdate.get('name').touched && usersformupdate.get('name').invalid" class="alert alert-danger">
	            Name is required
	          </div>         
	        </div>
	        <div>
	          <label for="phone"></label>
	          <input type="text" name = "phone" id = "phone" formControlName = "phone" class = "form-control">
	          <div *ngIf = "usersformupdate.get('phone').touched && usersformupdate.get('phone').invalid" class="alert alert-danger">
	              Phone is required
	          </div>   
	        </div>
	        <input type="text" name="id" id="id" class="hidden" value="{{user?.id}}" style="display: none;">
	        <input type="submit" value = "Update user" class = "btn btn-primary">
	      </form>       
     </div>
	</li>
</ul>