<h1>Update invoice</h1>

<form [formGroup] = "userForm" (ngSubmit) = "sendData()">
  
  <div>
    <label for="name">Name</label>
    <input type="text" name = "name" id = "name" class = "form-control" formControlName = "name" value="{{name}}" [(ngModel)]="name" required>    
  </div>
    
  <div>
	  <label for="phone">Phone</label>
	  <input type="text" name="phone" id="phone" class = "form-control" formControlName = "phone" value="{{phone}}" [(ngModel)]="phone" required>	  
  </div>
  <input type="text" name="id" id="id" class="hidden" value="{{user?.id}}">
  <input type="submit" value = "Send Invoice" class = "btn btn-primary">
</form>  